
<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}">
              <i class="mdi mdi-home-outline menu-icon"></i>
              <span class="menu-title">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('supervisor')}}">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Supervisors</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('complaintsFunction', complaintType='All Complaints')}}">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Complaints</span>
            </a>
          </li>
        </ul>
      </nav>
