{% extends "base.html" %}

{% block title %} Basic Table {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->

{% block css_plugins %} <script src="https://cdn.tailwindcss.com"></script>{% endblock css_plugins %}


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



  <div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="font-weight-semibold d-none d-lg-block ms-0">
            <h1 class="welcome-text" style="padding-bottom: 20px;"><span class="text-black fw-bold" style="font-size: 25px;">{{comp[0]['complaint']}}</span></h1>
            
            <h3 class="welcome-sub-text" style="font-size: 15px; color: grey;">{{comp[0]['id']}}</h3>
          </div>
          <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
              
                <div class="row flex justify-between">
                    <div class="col-6 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="d-sm-flex justify-content-between align-items-start">
                            <div>
                              <h4 class="card-title card-title-dash" style="font-size: 20px;">Citizen Image</h4>
                              <p class="card-subtitle card-subtitle-dash"></p>
                            </div>
                            <!-- <div>
                              <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i>Add new member</button>
                            </div> -->
                          </div>
                          <!-- <div> -->
                            <img src="{{comp[0]['imageData']['url']}}" alt="citizen image">
                        </div>
                      </div>
                    </div>

                    <div class="col-6 grid-margin stretch-card">
                        <div class="card card-rounded">
                          <div class="card-body align-items-center">
                            <div class="d-sm-flex justify-content-between align-items-center">
                              <div>
                                <h4 class="card-title card-title-dash" style="font-size: 20px;">Supervisor Image</h4>
                                <p class="card-subtitle card-subtitle-dash"></p>
                              </div>
                              <!-- <div>
                                <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-account-plus"></i>Add new member</button>
                              </div> -->
                            </div>
                            <div class="flex justify-center">
                              {% if 'supervisorImageData' in comp[0] %}
                                <img src="{{comp[0]['supervisorImageData']['url']}}" alt="supervisor image">
                              {% else %}
                              <div class="text-center">
                                <img src="..\static\assets\images\no-image.png" width="300" height="600" alt="supervisor image">
                                <p class="font-semibold align-items-center" style="font-size: 15px;">Supervisor Image Not Available</p>
                              </div>
                                
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>

              <div class="row flex justify-between">

                
                  
                    <div class="col-8 grid-margin stretch-card">
                      <div class="card card-rounded">
                        <div class="card-body">
                          <div class="d-sm-flex justify-content-between align-items-start">
                            <div>
                              <h4 class="card-title card-title-dash" style="font-size: 20px;">Complaint Information</h4>
                              <p class="card-subtitle card-subtitle-dash"></p>
                            </div>
                            <div>
                              <!-- <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> This month </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                  <h6 class="dropdown-header">Settings</h6>
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                              </div> -->
                              

                            </div>
                          </div>
                          <!-- <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                            <div class="d-sm-flex align-items-center mt-4 justify-content-between"><h2 class="me-2 fw-bold">$36,2531.00</h2><h4 class="me-2">USD</h4><h4 class="text-success">(+1.37%)</h4></div>
                            <div class="me-3"><div id="marketing-overview-legend"></div></div>
                          </div> -->
                          <!-- <div class="chartjs-bar-wrapper mt-3">
                            <canvas id="marketingOverview"></canvas>
                          </div> -->


                          <!-- <ul class="nav nav-tabs flex justify-content-between">
                            <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
                            <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                            <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
                          </ul> -->

                          <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Basic  Infomation</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Location  Infomation</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Supervisor Infomation</button>
                            </li>
                          </ul>
                          <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                              <div class="product-anotherinfo-wrapper">
                                <ul>
                                    <li class="mb-4" style="font-size: 15px;"><span class="font-semibold w-50 inline-block" style="font-size: 15px;">Complaint</span>{{ comp[0]['complaint'] }}</li>
                                    <div class="w-full pb-4" style="font-size: 15px;" >
                                      <div class="flex">
                                        <div class="w-2/4">
                                          <div class="font-semibold">Description</div>
                                        </div>
                                        <div class="w-2/4">
                                          {{ comp[0]['description'] }}
                                        </div>
                                      </div>
                                    </div>
                                    <!-- <li class="mb-4" style="font-size: 15px;"><span class="font-semibold w-50 inline-block" style="font-size: 15px;">Description</span>{{ comp[0]['description'] }}</li> -->
                                    <li class="mb-4" style="font-size: 15px;"><span class="font-semibold w-50 inline-block" style="font-size: 15px;">Citizen Email</span>{{ comp[0]['citizenEmail'] }}</li>
                                    <li class="mb-4" style="font-size: 15px;"><span class="font-semibold w-50 inline-block" style="font-size: 15px;">Date and Time</span>{{ comp[0]['dateTime'] }}</li>
                                    <li class="mb-4" style="font-size: 15px;"><span class="font-semibold w-50 inline-block" style="font-size: 15px;">Ward Name</span>{{ comp[0]['ward'] }}</li>
                                    <li class="mb-4" style="font-size: 15px;"><span class="font-semibold w-50 inline-block" style="font-size: 15px;">Overdue</span>{{ comp[0]['overdue'] }}</li>
                                </ul>
                            </div>
                            </div>
                            <div class="tab-pane fade align-items-center" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                              <ul>
                                <li class="mb-4" style="font-size: 15px;"><span class="font-semibold w-50 inline-block" style="font-size: 15px;">Location</span>{{ comp[0]['location'] }}</li>
                                <li class="mb-4" style="font-size: 15px;"><span class="font-semibold w-50 inline-block" style="font-size: 15px;">Latitude</span>{{ comp[0]['imageData']['lat'] }}</li>
                                <li class="mb-4" style="font-size: 15px;"><span class="font-semibold w-50 inline-block" style="font-size: 15px;">Longitude</span>{{ comp[0]['imageData']['long'] }}</li>
                            </ul>
                              <div id = "osm-map" style = "width:750px; height:300px"></div>
                              
                              
                              
                            </div>
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                              <div class="product-anotherinfo-wrapper">
                                <ul>
                                    <li class="mb-12" style="font-size: 15px;"><span class="font-semibold w-50 inline-block" style="font-size: 15px;">Supervisor Name</span>{{ comp[0]['supervisorName'] }}</li>
                                    <li class="mb-12" style="font-size: 15px;"><span class="font-semibold w-50 inline-block" style="font-size: 15px;">Supervisor Email</span>{{ comp[0]['supervisorEmail'] }}</li>
                                    <div>
                                      {% if 'supervisorImageData' in comp[0] %}
                                        <li class="mb-12" style="font-size: 15px;"><span class="font-semibold w-50 inline-block" style="font-size: 15px;">Resolution Date and Time</span>{{ comp[0]['supervisorImageData']['dateTime'] }}</li>
                                      {% else %}
                                        <li class="mb-12" style="font-size: 15px;"><span class="font-semibold w-50 inline-block" style="font-size: 15px;">Resolution Date and Time</span>Not yet resolved</li>
                                      {% endif %}
                                    </div>
                                    
                                    <!-- <li class="mb-4" style="font-size: 15px;"><span class="font-semibold w-28 inline-block" style="font-size: 15px;">Date and Time</span>{{ comp[0]['dateTime'] }}</li> -->
                                    <!-- <li class="mb-4" style="font-size: 15px;"><span class="font-semibold w-28 inline-block" style="font-size: 15px;">Ward Name</span>{{ comp[0]['ward'] }}</li> -->
                                </ul>
                            </div>
                            </div>
                          </div>

                          <!-- <div class="mb-4 border-b border-gray-200">
                            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                                <li class="mr-2" role="presentation">
                                    <button class="inline-block p-4 rounded-t-lg border-b-2" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Profile</button>
                                </li>
                                <li class="mr-2" role="presentation">
                                    <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</button>
                                </li>
                                <li class="mr-2" role="presentation">
                                    <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
                                </li>
                                <li role="presentation">
                                    <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Contacts</button>
                                </li>
                            </ul>
                        </div>
                        <div id="myTabContent" >
                            <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Profile tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
                            </div>
                            <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
                            </div>
                            <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                                <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
                            </div>
                            <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
                                <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
                            </div>
                        </div> -->


                        </div>
                      </div>
                    </div>
                  
                

                <div class="col-md-4 col-lg-4 grid-margin">
                    <div class="card card-rounded">
                      <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                          <h4 class="card-title card-title-dash" style="font-size: 20px;">Status Tracker</h4>
                          <p class="mb-0"></p>
                        </div>
                        <ul class="bullet-line-list">
                          <li style="padding-bottom:4em">
                            <div class="d-flex justify-content-between"  onload="dtFunction()">
                              <div><span class="text-light-green" style="font-size: 15px;">In Progress</span></div>
                               <!-- <script>
                                
                                  var d = new Date("{{ comp[0]['dateTime'] }}");
                                
                                  var dt = d.toLocaleString("en-GB");
                                  // document.write(dt);
                                  document.getElementById("myText").innerHTML = dt;
                                
                                
                              </script> -->
                              <!-- <p id="myText"></p> -->
                              
                              <p id="myText">{{ comp[0]['dateTime'] }}</p>
                              
                            </div>
                          </li>
                         
                          <li style="padding-bottom:4em">
                            <div class="d-flex justify-content-between">
                              <div><span class="text-light-green" style="font-size: 15px;">Resolved</span></div>
                              <div>
                                {% if 'supervisorImageData' in comp[0] %}
                                  <p>{{ comp[0]['supervisorImageData']['dateTime'] }}</p>
                                {% else %}
                                  <p>Not yet resolved</p>
                                {% endif %}
                              </div>
                            </div>
                          </li>
                          <li style="padding-bottom:4em">
                            <div class="d-flex justify-content-between">
                              <div><span class="text-light-green" style="font-size: 15px;">Closed</span></div>
                              <div>
                                {% if comp[0]['status']!='Closed' %}
                                  <p>Not yet Closed</p>
                                {% else %}
                                  <p>Closed</p>
                                {% endif %}
                              </div>
                            </div>
                          </li>
                          
                        </ul>
                        <div class="list align-items-center pt-3">
                          <!-- <div class="wrapper w-100">
                            <p class="mb-0">
                              <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
                            </p>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="row flex justify-between">
                <div class="col-12 grid-margin stretch-card">
                  <div class="card card-rounded">
                    <div class="card-body flex justify-between">
                      <div class="col-lg-9">
                        <div class="d-sm-flex justify-content-between align-items-start">
                          <div>
                            <h4 class="card-title card-title-dash">Issue Reported</h4>
                            <p class="card-subtitle card-subtitle-dash" style="padding-bottom: 20px;"></p>
                          </div>
                          
                        </div>
                        <div class="product-anotherinfo-wrapper motha-column ">
                            <div class="w-full">
                              <div class="flex">
                                <div class="w-1/4">
                                  <div class="font-semibold">Date and Time</div>
                                </div>
                                <div class="w-3/4">
                                  01/05/2022, 12:00:00
                                </div>
                              </div>
                              <div class="flex  mt-4">
                                <div class="w-1/4">
                                  <div class="font-semibold">Issue</div>
                                </div>
                                <div class="w-3/4">
                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </div>
                              </div>
                            </div>
                            <!-- <div class="mb-4 row-1 grid  grid-flow-col gap-1" style="font-size: 15px;">
                            </div>
                            <div class="mb-4  row-2   "  style="font-size: 15px;">
                              <div class="font-semibold  inline-block row-span-3" style="font-size: 15px;">Issue</div>
                              <div class="col-span-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                            </div> -->
                            <!-- <div>
                              <li class="mb-4" style="font-size: 15px;"><span class="font-semibold w-40 inline-block" style="font-size: 15px;">Issue</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                            </div> -->
                              
                          
                        </div>
                      </div>
                      <div class="col-lg-2"> 
                        <div class="justify-content-between">
                          <h4 class="card-title card-title-dash " style="padding-left: 60px;" style="font-size: 20px;">Actions</h4>
                          <p class="card-subtitle card-subtitle-dash" style="padding-left: 20px;"></p>
                        </div>
                        <div class="template-demo" style="display: flex;justify-content: start;flex-direction: column;">
                          <button type="button" class="btn btn-outline-success btn-fw" style="padding: 20px; background-color: lightgreen; font-size: 15px; font-weight: bold; ">Valid</button>
                          <button type="button" class="btn btn-lg btn-block btn-danger" style="padding: 20px; background-color: lightcoral; font-size: 15px; font-weight: bold; ">Invalid</button>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

  <script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="/static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/static/assets/vendors/progressbar.js/progressbar.min.js"></script>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>

 <script src="/static/assets/js/dashboard.js"></script>
 <script src="/static/assets/js/Chart.roundedBarCharts.js"></script>
{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

 
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script>
    //Handling the map
    //Handling the map
    var element = document.getElementById('osm-map');
    element.style = 'height:300px;';

    // Create Leaflet map on map element.
    var map = L.map(element);

    // Add OSM tile layer to the Leaflet map.
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Target's GPS coordinates of Mumbai, set zoom level
    var target = L.latLng('19.0760', '72.8777');
    map.setView(target, 11);
    var date  = new Date(Date.parse(`{{comp[0]['dateTime']}}`));
    var dateString = date.toDateString();
    var status = `{{comp[0]['status']}}`;
    var latitude = `{{comp[0]['latitude']}}`;
    var longitude = `{{comp[0]['longitude']}}`;
    var ward = `{{comp[0]['ward']}}`;
    var imageUrl = `{{comp[0]['imageData']['url']}}`;
    var complaint = `{{comp[0]['complaint']}}`;
    var popupContent = `
        <div class="max-w-sm w-full lg:max-w-full lg:flex border-r border-b border-l border-gray-400 lg:border-l lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b">
            <div class="h-24 my-1 lg:h-auto lg:w-24 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url(${imageUrl})" title="Complaint Image">
            </div>
            <div class="pt-1 flex flex-col justify-between leading-normal">
                <div class="lg:border-l border-gray-400 mb-1 ml-1 px-1 ">
                    <p   class="text-xs text-gray-700 flex items-center m-0">${status} </p>
                    <div class="text-md text-gray-900 font-bold m-0">${complaint.replace(/^(.{25}).{2,}/, "$1…")}</div>
                    <p   class="text-xs text-gray-700 m-0 mb-2 p-0">${ward}</p>
                    <p class="text-gray-600 m-0 text-xs">${dateString}</p>
                </div>
            </div>
        </div>`;

    var marker = L.marker(L.latLng(parseFloat(latitude), parseFloat(longitude))).addTo(map);
    marker.bindPopup(popupContent);


  </script>

{% endblock javascripts %}